table{
    border-collapse: collapse;
    border-style:hidden;
	height: 70%;
    width: 37%;
    margin: 9% 31%;
}

td{
    border: 3px solid #757575;
    width: 33%;
    height: 33%;
}

img{
	max-width: 95%;
    max-height: 95%;
}

body{
    background-size: 100%;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
}

.winnerStatus {
    position: absolute;
    left: 30%;
    top: 80%;
    width: 40%;
    height: 10%;
}

#status0 {
    visibility: hidden;
}

#status1 {
    visibility: visible;
    background-image: url("/images/cat_regular.png");
}

#status2 {
    visibility: visible;
    background-image: url("/images/dog_regular.png");
}

#status3 {
    visibility: visible;
    background-image: url("/images/background.png");
}