table{
    border-collapse: collapse;
    border-style:hidden;
	height: 70%;
    width: 37%;
    margin: 8% 31%;
}

td{
    border: 3px solid #757575;
    width: 33%;
    height: 33%;
    text-align: center;
}

img{
    height: 25%;
}

body{
    background-size: 100%;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
}